
<form class="" method="post" action="{% url 'search_car:detailed_search'%}">

  {% csrf_token %}
  <div id="divQuickSearch">
    <div class="form-row">
      <div class="form-group col-md-4">
        {{ detailed_search_form.brand }}
      </div>
      <div class="form-group col-md-4">
        {{ detailed_search_form.model }}
      </div>
      <div class="form-group col-md-4">
        {{ detailed_search_form.body_type }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ detailed_search_form.price_from }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.price_to }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.first_reg_from }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.first_reg_to }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ detailed_search_form.km_from }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.km_to }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.fuel_type }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.region }}
      </div>
    </div>
  </div> <!-- divBasicInfo -->

  <hr>

  <div id="detailed-search">
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ detailed_search_form.ccm_from }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.ccm_to }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ detailed_search_form.power_from }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.power_to }}
      </div>
      <div id="divPowerUnits" class="form-group col-md-3">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="[hp]" checked>
          <label class="form-check-label" for="inlineRadio1">HP</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="[kw]">
          <label class="form-check-label" for="inlineRadio2">kW</label>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ detailed_search_form.transmission }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.drive }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.emission_class }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ detailed_search_form.door_num }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.seats_number }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.color }}
      </div>
      <div class="form-group col-md-2" id="divMetalic">
        <div class="form-check">
          {{ detailed_search_form.metalic_color }}
          {{ detailed_search_form.metalic_color.label}}
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ detailed_search_form.ac }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.cruise_ctrl }}
      </div>
      <div class="form-group col-md-3">
        {{ detailed_search_form.airbags }}
      </div>
    </div>
  </div>

  <div class="row search-btn-container">
    <button type="submit" class="btn btn-info search-btn">Search</button>
  </div>

</form>
