<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load staticfiles %}
  {% load get_image_url %}
  {% load humanize %}

  {% for record in records %}
    <!-- open row -->
    {% if forloop.counter0|divisibleby:3 %}
      <div class="form-row">
    {% endif %}

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="{{ images|get_image_url:forloop.counter0 }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="announcement-id" style="display:none;">{{ record.id }}</p>
          {{ record.car.brand }}
          {{ record.car.model }}
          {{ record.car.body_type }},
          Price: {{ record.price }}€
          <br>
          Year: {{ record.car.first_registration }},
          Kilometrage: {{ record.car.kilometerage|intcomma }}km
          <br>
          Fuel: {{ record.car.fuel_type }}, Region: {{ record.contact_info.region }}
          <div class="d-flex justify-content-end align-items-center">
            <div class="">
              <small class="text-muted">{{ record.date_updated|naturaltime }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- close row -->
    <!-- TODO: check this condition -->
    {% if forloop.counter0 == 2 or forloop.counter0|add:-5|divisibleby:3 or forloop.last %}
      </div>
    {% endif %}

  {% empty %}
    <p>Sorry, we couldn't find any new ads</p>
  {% endfor %}


</html>
