
<form class="" method="post" action="{% url 'search_car:quick_search'%}">

  {% csrf_token %}
  <div id="divQuickSearch">
    <div class="form-row">
      <div class="form-group col-md-4">
        {{ quick_search_form.brand }}
      </div>
      <div class="form-group col-md-4">
        {{ quick_search_form.model }}
      </div>
      <div class="form-group col-md-4">
        {{ quick_search_form.body_type }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ quick_search_form.price_from }}
      </div>
      <div class="form-group col-md-3">
        {{ quick_search_form.price_to }}
      </div>
      <div class="form-group col-md-3">
        {{ quick_search_form.first_reg_from }}
      </div>
      <div class="form-group col-md-3">
        {{ quick_search_form.first_reg_to }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        {{ quick_search_form.km_from }}
      </div>
      <div class="form-group col-md-3">
        {{ quick_search_form.km_to }}
      </div>
      <div class="form-group col-md-3">
        {{ quick_search_form.fuel_type }}
      </div>
      <div class="form-group col-md-3">
        {{ quick_search_form.region }}
      </div>
    </div>
  </div> <!-- divBasicInfo -->

  <div class="row search-btn-container">
    <button id="detailed-search-btn" type="button" class="btn btn-link">Detailed search</button>
    <button type="submit" class="btn btn-info search-btn">Search</button>
  </div>

</form>
