{% extends "__base.html" %}
{% load static %}
{% load get_image_url %}
{% load staticfiles %}
{% load humanize %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/search_car/search_results.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron jumbotron-custom">

      <div class="display-results-container">
        <div class="search-results-container">
          {% for record in results %}
            <div class="card mb-4 shadow-sm">
              <div class="image-container">
                <img src="{{ images|get_image_url:forloop.counter0 }}" class="card-img-top" alt="...">
              </div>
              <div class="card-body">
                <div class="card-row">
                  <div class="card-col-1">
                    <p class="announcement-id" style="display:none;">{{ record.id }}</p>
                    <span id="car-brand">{{ record.car.brand }}</span>
                    <span id="car-model">{{ record.car.model }}</span>
                    <span id="car-body-type">{{ record.car.fuel_type }}</span>
                  </div>
                  <div class="card-col-0">
                    <span id="car-price">{{ record.price }}€</span>
                  </div>
                </div>
                <div class="card-row">
                  Year: {{ record.car.first_registration }}, Kilometrage: {{ record.car.kilometerage|intcomma }}km
                </div>
                <div class="card-row">
                  Body type: {{ record.car.body_type }}, Region: {{ record.contact_info.region }}
                </div>
                <div class="card-row">

                </div>
                <div class="d-flex justify-content-end align-items-center">
                  <div class="">

                    <small class="text-muted">9 mins ago</small>
                  </div>
                </div>
              </div>
            </div>
          {% empty %}
            <p>Sorry, no results found for requested parameters</p>
          {% endfor %}

        </div>
        <div class="detailed-search-container">
          <p>Detailed search</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    var display_announcement_url = "{% url 'announcement_car:display_announcement' %}";
  </script>
  <script src="{% static 'js/search_car/search_results.js' %}"></script>
{% endblock %}
