{% extends "__base.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home_page/home_page.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome-free-5.13.0-web/css/all.css' %}">
{% endblock %}


{% block content %}
  <div class="container">
    <div class="jumbotron jumbotron-custom">

      <!-- Buy or Sell choice -->
      <div class="btn-group btn-group-custom" role="group" aria-label="Buy or Sell choice">
        <button type="button" class="btn btn-info btn-lg btn-category"> Buy </button>
        <button type="button" class="btn btn-light btn-lg btn-category"> Sell </button>
      </div>

      <ul class="nav nav-tabs nav-justified category-container">
        <li class="nav-item">
          <a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1"><i class="fas fa-car"> </i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="tab" data-toggle="tab" href="#tab-2"><i class="fas fa-motorcycle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="tab" data-toggle="tab" href="#tab-3"><i class="fas fa-caravan"></i></a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="tab-1">

          <!-- Search form -->
          <div id="car-search-form">
          </div>

          <hr class="mb-2">

          <!-- Search results -->
          <div class="search-results-container">

            <!-- latest uploads -->
            <div id="search-results-div" class="search-results">
            </div>

            <!-- page navigation -->
            <div class="page-navigation">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>

          </div>
        </div>

        <div class="tab-pane" role="tabpanel" id="tab-2">
          <p style="
            display: flex;
            justify-content: center;
            font-size: x-large;
            margin-top: 20px;
          ">Moto coming soon...</p>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-3">
          <p style="
            display: flex;
            justify-content: center;
            font-size: x-large;
            margin-top: 20px;
          ">Caravan coming soon...</p>
        </div>
      </div>


    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    var display_announcement_url = "{% url 'announcement_car:display_announcement' %}";
  </script>
  <script src="{% static 'js/home_page/home_page.js' %}"></script>
{% endblock %}
