{% extends "__base.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  {% include "image_upload/_image_upload_stylesheets.html" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/announcement_car/styles.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron jumbotron-custom">
      <form class="" method="post">
        {% csrf_token %}
        <p><strong>Basic info</strong></p>
        <hr>
        <div id="divBasicInfo">
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Brand<span id="must"> *</span></small>
              {{ car_form.brand }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Model<span id="must"> *</span></small>
              {{ car_form.model }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Year of first registration<span id="must"> *</span></small>
              {{ car_form.first_registration }}
            </div>
            <div class="input-group form-group col-md-4">
              <small class="input-group form-text text-muted">Kilometerage<span id="must"> *</span></small>
              {{ car_form.kilometerage }}
              <div class="input-group-prepend">
                <div class="input-group-text">[km]</div>
              </div>
            </div>
          </div>
        </div> <!-- divBasicInfo -->

        <p><strong>Engine and transmission</strong></p>
        <hr>
        <div id="divEngTra">
          <div class="form-row">
            <div class="input-group form-group col-md-4">
              <small class="input-group form-text text-muted">Cubic capacity<span id="must"> *</span></small>
              {{ eng_tra_form.cubic_capacity }}
              <div class="input-group-prepend">
                <div class="input-group-text">[ccm]</div>
              </div>
            </div>
            <div class="input-group form-group col-md-4">
              <small class="input-group form-text text-muted">Power<span id="must"> *</span></small>
              {{ eng_tra_form.power }}
              <div class="input-group-prepend">
                <div class="input-group-text"><span id="powerUnits">[hp]</span></div>
              </div>
            </div>
            <div id="divPowerUnits" class="form-group col-md-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="[hp]" checked>
                <label class="form-check-label" for="inlineRadio1">HP</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="[kw]">
                <label class="form-check-label" for="inlineRadio2">kW</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Fuel type<span id="must"> *</span></small>
              {{ car_form.fuel_type }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Emission class<span id="must"> *</span></small>
              {{ eng_tra_form.emission_class }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Transmission<span id="must"> *</span></small>
              {{ eng_tra_form.transmission }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Drive<span id="must"> *</span></small>
              {{ eng_tra_form.drive }}
            </div>
          </div>
        </div> <!-- divEngTra -->

        <p><strong>Phisical characteristics</strong></p>
        <hr>
        <div id="divPhisicalChar">
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Body type<span id="must"> *</span></small>
              {{ car_form.body_type }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Color<span id="must"> *</span></small>
              {{ ph_char_form.body_color }}
            </div>
            <div class="form-group col-md-2" id="divMetalic">
              <div class="form-check">
                {{ ph_char_form.metalic_color }}
                {{ ph_char_form.metalic_color.label}}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Number of doors<span id="must"> *</span></small>
              {{ ph_char_form.door_number }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Number of seats<span id="must"> *</span></small>
              {{ ph_char_form.seats_number }}
            </div>
          </div>
        </div> <!-- divPhisicalChar -->

        <p><strong>Aircondition, Cruise control, Airbags</strong></p>
        <hr>
        <div id="divAcCruisAB">
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">AirCondition<span id="must"> *</span></small>
              {{ other_features_form.aircondition }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Cruise control<span id="must"> *</span></small>
              {{ assistance_form.cruise_ctrl }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Airbags<span id="must"> *</span></small>
              {{ ss_form.airbag }}
            </div>
          </div>
        </div> <!-- divAcCruisAB -->

        <p><strong>Security</strong></p>
        <hr>
        <div id="divSecurity">
          {% for field in ss_form %}
            {% if forloop.counter0 < 4 %}
              {% if forloop.counter0|divisibleby:3 %}
                <div class="form-row">
              {% endif %}
                <div class="form-group col-md-4">
                  <div class="form-check">
                    {{ field }}
                    {{ field.label}}
                  </div>
                </div>
              {% if forloop.counter0 == 2 or forloop.counter0|add:-5|divisibleby:3 %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div> <!-- last row is not full so we miss one </div> -->
        </div> <!-- divSecurity -->

        <p><strong>Safety</strong></p>
        <hr>
        <div id="divSafety">
          {% for field in ss_form %}
            {% if forloop.counter0 < 5 %}
            {% else %}
              {% if forloop.counter0|add:-5|divisibleby:3 %}
                <div class="form-row">
              {% endif %}
                <div class="form-group col-md-4">
                  <div class="form-check">
                    {{ field }}
                    {{ field.label}}
                  </div>
                </div>
              {% if forloop.counter0|add:-4|divisibleby:3 %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div> <!-- divSafety -->

        <p><strong>Media</strong></p>
        <hr>
        <div id="divMedia">
          {% for field in media_form %}
            {% if forloop.counter0|divisibleby:3 %}
              <div class="form-row">
            {% endif %}
              <div class="form-group col-md-4">
                <div class="form-check">
                  {{ field }}
                  {{ field.label}}
                </div>
              </div>
            {% if forloop.counter0 == 2 or forloop.counter0|add:-5|divisibleby:3 or forloop.last %}
              </div>
            {% endif %}
          {% endfor %}
        </div> <!-- divMedia -->

        <p><strong>Assistance</strong></p>
        <hr>
        <div id="divAssistance">
          {% for field in assistance_form %}
            <!-- skip CruiseControl -->
            {% if field.field.widget.input_type == "checkbox" %}
              {% if forloop.counter0|add:-1|divisibleby:3 %}
                <div class="form-row">
              {% endif %}
                <div class="form-group col-md-4">
                  <div class="form-check">
                    {{ field }}
                    {{ field.label}}
                  </div>
                </div>
              {% if forloop.counter0|add:-1 == 2 or forloop.counter0|add:-6|divisibleby:3 %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div> <!-- divAssistance -->

        <p><strong>Other features</strong></p>
        <hr>
        <div id="divOtherFeatures">
          {% for field in other_features_form %}
            <!-- skip AirCondition -->
            {% if field.field.widget.input_type == "checkbox" %}
              {% if forloop.counter0|add:-1|divisibleby:3 %}
                <div class="form-row">
              {% endif %}
                <div class="form-group col-md-4">
                  <div class="form-check">
                    {{ field }}
                    {{ field.label}}
                  </div>
                </div>
              {% if forloop.counter0|add:-1 == 2 or forloop.counter0|add:-6|divisibleby:3 or forloop.last  %}
                </div>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div> <!-- divOtherFeatures -->

        <p><strong>Vehicle history</strong></p>
        <hr>
        <div id="divVehicleHist">
          {% for field in vehicle_hist_form %}
            {% if forloop.counter0|divisibleby:3 %}
              <div class="form-row">
            {% endif %}
              <div class="form-group col-md-4">
                <div class="form-check">
                  {{ field }}
                  {{ field.label}}
                </div>
              </div>
            {% if forloop.counter0 == 2 or forloop.counter0|add:-5|divisibleby:3 or forloop.last  %}
              </div>
            {% endif %}
          {% endfor %}
        </div> <!-- divVehicleHist -->

        <p><strong>Seller type</strong></p>
        <hr>
        <div id="divSellertype">
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Seller type<span id="must"> *</span></small>
              {{ car_announcement_form.seller_type }}
            </div>
          </div>
        </div> <!-- divSellertype -->

        <p><strong>Price</strong></p>
        <hr>
        <div id="divPrice">
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Price</small>
              {{ car_announcement_form.price }}
            </div>
            <div class="form-group col-md-2" id="divFIxedPrice">
              <div class="form-check">
                {{ car_announcement_form.fixed_price }}
                {{ car_announcement_form.fixed_price.label }}
              </div>
            </div>
          </div>
        </div> <!-- divPrice -->

        <p><strong>Extra description</strong></p>
        <hr>
        <div id="divExtraDesc">
          <div class="form-group">
            {{ car_announcement_form.description }}
          </div>
        </div> <!-- divExtraDesc -->

        <p><strong>Upload images</strong></p>
        <hr>
        {% include "image_upload/image_upload.html" %}

        <p><strong>Contact info</strong></p>
        <hr>
        <div id="divContactInfo">
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">First name<span id="must"> *</span></small>
              {{ ann_cont_info_form.first_name }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Last name<span id="must"> *</span></small>
              {{ ann_cont_info_form.last_name }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <small class="form-text text-muted">Address<span id="must"> *</span></small>
              {{ ann_cont_info_form.address }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">City<span id="must"> *</span></small>
              {{ ann_cont_info_form.city }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Postal code<span id="must"> *</span></small>
              {{ ann_cont_info_form.code_postal }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Phone 1<span id="must"> *</span></small>
              <div class="phone-number-div">
                {{ ann_cont_info_form.phone1 }}
              </div>
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Phone 2</small>
              <div class="phone-number-div">
                {{ ann_cont_info_form.phone2 }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Region<span id="must"> *</span></small>
              {{ ann_cont_info_form.region }}
            </div>
            <div class="form-group col-md-4">
              <small class="form-text text-muted">Country<span id="must"> *</span></small>
              {{ ann_cont_info_form.country }}
            </div>
          </div>
        </div> <!-- divContactInfo -->

        <div class="form-row">
          <div class="form-group col-md-2">
            <button type="button" class="btn btn-link">Cancel</button>
          </div>
          <div class="form-group col-md-8">
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
          </div>
        </div>

      </form>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    var announcement_id = "{{ announcement_id|escapejs }}";
  </script>
  <script src="{% static 'js/announcement_car/script.js' %}"></script>
  {% include "image_upload/_image_upload_scripts.html" %}
{% endblock %}
