{% extends "__base.html" %}
{% load static %}
{% load get_image_url %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/announcement_car/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="jumbotron jumbotron-custom">

    <div class="display-announcement" style="display: flex;">
      <div class="">
        <div class="images-container">
          <div class="main-image">
            <img class="img-fluid" src="{{images.0.image.url}}" alt="">
          </div>
          <div class="all-images-container">
            <div class="all-images">
              {% for image in images %}
              <div class="img-thumbnail-container">
                <img class="img-thumbnail" src="{{ images|get_image_url:forloop.counter0 }}" alt="">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="main-info-container">

          <p><strong>Phisical characteristics</strong></p>
          <hr>

          <div class="row">
            <div class="col-md-12 col-xl-3">
              <span><strong>Body type:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.body_type }}</span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span><strong>Body color:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>
                {{ announcement.car.physical_char.body_color }}
                {% if announcement.car.physical_char.metalic_color %}
                  (metalic)
                {% endif %}
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xl-3">
              <span><strong>Door number:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.physical_char.door_number }}</span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span><strong>Seat number:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.physical_char.seats_number }} </span>
            </div>
          </div>

          <p><strong>Engine and transmission</strong></p>
          <hr>
          <div class="row">
            <div class="col-md-12 col-xl-3">
              <span><strong>Cubic capacity:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.engine_and_transmission.cubic_capacity }}ccm</span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span><strong>Power:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.engine_and_transmission.power }} HP</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xl-3">
              <span><strong>Fuel type:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.fuel_type }}</span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span><strong>Emission class:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.engine_and_transmission.emission_class }} </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xl-3">
              <span><strong>Transmission:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.engine_and_transmission.transmission }}</span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span><strong>Drive:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.engine_and_transmission.drive }} </span>
            </div>
          </div>

          <p><strong>Aircondition, Cruise control, Airbags</strong></p>
          <hr>
          <div class="row">
            <div class="col-md-12 col-xl-3">
              <span><strong>AirCondition:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.other_features.aircondition.type }}</span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span><strong>Cruise control:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.assistance.cruise_ctrl.type }}</span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span><strong>Airbags:</strong></span>
            </div>
            <div class="col-md-12 col-xl-3">
              <span>{{ announcement.car.security_and_safety.airbag.type }}</span>
            </div>
          </div>

          <p><strong>Security and Safety</strong></p>
          <hr>
          <div class="row">
            <div class="col-xl-4" {% if announcement.car.security_and_safety.alarm != True %} style="display:none;" {% endif %}>
              <span>Alarm</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.mechanical_protection != True %} style="display:none;" {% endif %}>
              <span>Mechanical protection</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.central_lock != True %} style="display:none;" {% endif %}>
              <span>Central locking</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.keyless_central_lock != True %} style="display:none;" {% endif %}>
              <span>Keyless central locking</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.abs != True %} style="display:none;" {% endif %}>
              <span>ABS</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.asr != True %} style="display:none;" {% endif %}>
              <span>ASR</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.esp != True %} style="display:none;" {% endif %}>
              <span>ESP</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.shild_lock != True %} style="display:none;" {% endif %}>
              <span>Child lock</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.blind_spot_assist != True %} style="display:none;" {% endif %}>
              <span>Blind spot assistance</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.security_and_safety.line_change_assist != True %} style="display:none;" {% endif %}>
              <span>Line change assistance</span>
            </div>
          </div>

          <p><strong>Media</strong></p>
          <hr>
          <div class="row">
            <div class="col-xl-4" {% if announcement.car.media.mf_stearing != True %} style="display:none;" {% endif %}>
              <span>MF steering wheel</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.cd_player != True %} style="display:none;" {% endif %}>
              <span>CD player</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.on_board_comp != True %} style="display:none;" {% endif %}>
              <span>On board computer</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.navigation != True %} style="display:none;" {% endif %}>
              <span>Navigation</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.bluetooth != True %} style="display:none;" {% endif %}>
              <span>Bluetooth</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.touchscreen != True %} style="display:none;" {% endif %}>
              <span>Touchscreen</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.hands_free != True %} style="display:none;" {% endif %}>
              <span>Hands free</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.android_auto != True %} style="display:none;" {% endif %}>
              <span>Android auto</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.apple_carplay != True %} style="display:none;" {% endif %}>
              <span>Apple carplay</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.media.wireless_phone_charger != True %} style="display:none;" {% endif %}>
              <span>Wireless phone charger</span>
            </div>
          </div>

          <p><strong>Assistance</strong></p>
          <hr>
          <div class="row">
            <div class="col-xl-4" {% if announcement.car.assistance.pwr_steering != True %} style="display:none;" {% endif %}>
              <span>Power steering wheel</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.electric_windows_front != True %} style="display:none;" {% endif %}>
              <span>Electric windows front</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.electric_windows_rear != True %} style="display:none;" {% endif %}>
              <span>Electric windows rear</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.electric_side_mirrors != True %} style="display:none;" {% endif %}>
              <span>Electric side mirrors</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.electric_seats_adj != True %} style="display:none;" {% endif %}>
              <span>Electric seats</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.start_stop != True %} style="display:none;" {% endif %}>
              <span>Start-Stop system</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.rain_sensor != True %} style="display:none;" {% endif %}>
              <span>Rain sensor</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.front_park != True %} style="display:none;" {% endif %}>
              <span>Front parking sensors</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.rear_park != True %} style="display:none;" {% endif %}>
              <span>Rear parking sensors</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.camera_360 != True %} style="display:none;" {% endif %}>
              <span>Camera 360</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.hill_assist != True %} style="display:none;" {% endif %}>
              <span>Hill assistance</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.assistance.keyless_start != True %} style="display:none;" {% endif %}>
              <span>Keyless start</span>
            </div>
          </div>

          <p><strong>Other</strong></p>
          <hr>
          <div class="row">
            <div class="col-xl-4" {% if announcement.car.other_features.arm_rest != True %} style="display:none;" {% endif %}>
              <span>Arm rest</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.heated_seats_front != True %} style="display:none;" {% endif %}>
              <span>Heated seats front</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.heated_seats_back != True %} style="display:none;" {% endif %}>
              <span>Heated seats rear</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.xenon_headlights != True %} style="display:none;" {% endif %}>
              <span>Xenon headlights</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.led_headlights != True %} style="display:none;" {% endif %}>
              <span>LED headlights</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.led_backlights != True %} style="display:none;" {% endif %}>
              <span>LED backlights</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.panoramic_roof != True %} style="display:none;" {% endif %}>
              <span>Panoramic roof</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.sunroof != True %} style="display:none;" {% endif %}>
              <span>Sunroof</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.alloy_wheels != True %} style="display:none;" {% endif %}>
              <span>Alloy wheels</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.steel_wheels != True %} style="display:none;" {% endif %}>
              <span>Steel wheels</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.summer_tyres != True %} style="display:none;" {% endif %}>
              <span>Summer tyres</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.winter_tyres != True %} style="display:none;" {% endif %}>
              <span>Winter tyres</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.other_features.all_season_tyres != True %} style="display:none;" {% endif %}>
              <span>All season tyres</span>
            </div>
          </div>

          <p><strong>Vehicle history</strong></p>
          <hr>
          <div class="row">
            <div class="col-xl-4" {% if announcement.car.vehicle_history.first_owner != True %} style="display:none;" {% endif %}>
              <span>First owner</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.vehicle_history.full_service_hist != True %} style="display:none;" {% endif %}>
              <span>Full service history</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.vehicle_history.demaged != True %} style="display:none;" {% endif %}>
              <span>Demaged</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.vehicle_history.garaged != True %} style="display:none;" {% endif %}>
              <span>Garaged</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.vehicle_history.warranty != True %} style="display:none;" {% endif %}>
              <span>Warranty</span>
            </div>
            <div class="col-xl-4" {% if announcement.car.vehicle_history.non_smoker != True %} style="display:none;" {% endif %}>
              <span>Non smoking vehicle</span>
            </div>
          </div>

          <p><strong>Extra description</strong></p>
          <hr>
          <span>{{ announcement.description }}</span>
        </div>
      </div>

      <div>
        <div class="basic-info-container basic-info-price">
          <h1>€{{ announcement.price }}</h1>
        </div>
        <div class="basic-info-container">
          <h4><strong>Basic info:</strong></h4>
           <div class="car-basic-info">
             <table>
               <tr>
                 <th>
                   <span><strong>Brand: </strong></span>
                 </th>
                 <td>
                   {{ announcement.car.brand }}
                 </td>
               </tr>
               <tr>
                 <th>
                   <span><strong>Model: </strong></span>
                 </th>
                 <td>
                   {{ announcement.car.model }}
                 </td>
               </tr>
               <tr>
                 <th>
                   <span><strong>Fuel type: </strong></span>
                 </th>
                 <td>
                   {{ announcement.car.fuel_type }}
                 </td>
               </tr>
               <tr>
                 <th>
                   <span><strong>Year: </strong></span>
                 </th>
                 <td>
                   {{ announcement.car.first_registration }}
                 </td>
               </tr>
               <tr>
                 <th>
                   <span><strong>Kilometerage: </strong></span>
                 </th>
                 <td>
                   {{ announcement.car.kilometerage }}
                 </td>
               </tr>
             </table>
           </div>
         </div>
         <div class="basic-info-container">
           <h4><strong>Contact info:</strong></h4>
           <table>
             <tr>
               <th>
                 <span><strong>Seller: </strong></span>
               </th>
               <td>
                 {{ announcement.seller_type }}
               </td>
             </tr>
             <tr>
               <th>
                 <span><strong>Name: </strong></span>
               </th>
               <td>
                 {{announcement.contact_info.first_name}}
                 {{announcement.contact_info.last_name}}
               </td>
             </tr>
             <tr>
               <th>
                 <span><strong>Address: </strong></span>
               </th>
               <td>
                 {{announcement.contact_info.address}}
               </td>
             </tr>
             <tr>
               <th>
                 <span><strong>City: </strong></span>
               </th>
               <td>
                 {{announcement.contact_info.city}}
               </td>
             </tr>
             <tr>
               <th>
                 <span><strong>Region: </strong></span>
               </th>
               <td>
                 {{announcement.contact_info.region}}
               </td>
             </tr>
             <tr>
               <th>
                 <span><strong>Phone: </strong></span>
               </th>
               <td>
                 {{announcement.contact_info.phone1}}
               </td>
             </tr>
           </table>
         </div>
      </div>


    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'js/announcement_car/display_announcement.js' %}"></script>
{% endblock %}
