{% extends "__base.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/Google-Style-Login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Clean.css' %}">
{% endblock %}

{% block content %}
  <div class="login-card"><img src="{% static "img/avatar_2x.png" %}" class="profile-img-card">
    <p class="profile-name-card"> </p>
    <form class="form-signin" method="post">
      <span class="reauth-email"></span>

      {% csrf_token %}
      {{ register_user_form.email }}
      {{ register_user_form.password1 }}
      {{ register_user_form.password2 }}
      {{ error_msgs }}

      <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Register</button>
    </form>
  </div>
{% endblock %}
