{% extends "__base.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/contact_info/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron jumbotron-custom">
    	<fieldset class="module">
    		<h2>Personal info</h2>

    		<form method="post">
    		  {% csrf_token %}
	          <div class="form-row">
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">First name</small>
	              {{ contact_info_form.first_name }}
	            </div>
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">Last name</small>
	              {{ contact_info_form.last_name }}
	            </div>
	          </div>	          
	          <div class="form-row">
	            <div class="form-group col-md-8">
	              <small class="form-text text-muted">Address</small>
	              {{ contact_info_form.address }}
	            </div>
	          </div>
	          <div class="form-row">
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">City</small>
	              {{ contact_info_form.city }}
	            </div>
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">Postal code</small>
	              {{ contact_info_form.code_postal }}
	            </div>
	          </div>
	          <div class="form-row">
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">Phone 1</small>
	              <div class="phone-number-div">
	                {{ contact_info_form.phone1 }}
	              </div>
	            </div>
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">Phone 2</small>
	              <div class="phone-number-div">
	                {{ contact_info_form.phone2 }}
	              </div>
	            </div>
	          </div>
	          <div class="form-row">
	          	<div class="form-group col-md-4">
		          {{ contact_info_form.phone1.errors }}
	          	</div>
	          	<div class="form-group col-md-4">
		          {{ contact_info_form.phone2.errors }}
	          	</div>
	          </div>
	          <div class="form-row">
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">Region</small>
	              {{ contact_info_form.region }}
	            </div>
	            <div class="form-group col-md-4">
	              <small class="form-text text-muted">Country</small>
	              {{ contact_info_form.country }}
	            </div>
	          </div>
	          <div class="form-row">
	          	<div class="form-group col-md-10">
	          	</div>
	        	<div class="form-group col-md-2">
	        		<button class="btn btn-link" onclick="window.location.href='{% url 'home_page:home' %}'; return false;">Cancel</button>
					<button class="btn btn-success" type="submit">Save</button>	
	            </div>
	          </div>
      		</form>

    	</fieldset>

    </div>
</div>


{% endblock %}