.jumbotron-custom {
  background-color:#F7F7F7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 4rem 4rem;
}

.module h2 {
    margin-bottom: 15px;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: #79aec8;
    color: #fff;
}

.form-row {
	padding-left: 12px;
}

.phone-number-div {
  display: flex;
}

ul.errorlist {
  color: red;
  font-size: 16px;
}