{% extends "__base.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/Google-Style-Login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Clean.css' %}">
  <style>
    h3 {text-align: center; margin-top: 5em;}
  </style>
{% endblock %}

{% block content %}
  <h3>Registration successful! Please check your email to activate your account...</h3>
  <h3>You will be redirected to home page in <span id="time-left">9</span></h3> ...
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    time_left = 9;

    function countToRedirect() {
      time_left -= 1;
      if(time_left == -1) {
        window.location.href = "/";
        return;
      }
      document.getElementById('time-left').innerHTML = time_left;
      setTimeout(countToRedirect, 1000);
    }

    $(document).ready(function(){
      setTimeout(countToRedirect, 1000);
    });
  </script>
{% endblock %}