.previews-container {
  border: 2px dashed #0087F7;
  border-radius: 10px;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-height: 130px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  padding: 50px 50px;

  cursor: pointer;
}

.previews-container .dz-preview {
  margin: 16px;
  cursor: default;
}

.previews-container .dz-preview .dz-image {
  overflow: hidden;
  border-radius: 20px;
}

.dropzone-message {
  height: 100%;
  width: 100%;
}

.dropzone-message button {
  background: none;
  color: #646C7F;
  border: none;
  padding: 0;
  font: inherit;
  font-size: 20px;
  cursor: pointer;
  outline: inherit;

  height: 100%;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3px
}

.dz-preview .buttons-container .btn-rotate {
  background-color: #777777;
  border-color: #777777;
}
.dz-preview .buttons-container .btn-rotate:hover {
  background-color: #939393;
  border-color: #939393;
}

.dz-preview .buttons-container .btn-delete {
  background-color: #AE0018;
  border-color: #AE0018;
}
.dz-preview .buttons-container .btn-delete:hover {
  background-color: #c82333;
  border-color: #c82333;
}
