.search-container {
    margin-top: 20px;
}

.category-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-btn-container {
    margin-top: 30px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.search-btn {
  width: 140px;
}

.tab-icon {
    font-size: 4vw
}

.btn-category {
  /* width: 15vw; */

}

.btn-group-custom {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#header {
    width: 100%;
    height: 25px;
    margin: 20px 0;
    text-align: center;
    font-size: 17px;
    position: relative;
    background-color: #f7f7f7;
}

#header:after {
    content: '';
    width: 100%;
    border-bottom: solid 1px #b8b8b8;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}

p {
    background-color: #f7f7f7; /* Same as the parents Background */
    width: auto;
    display: inline-block;
    z-index: 3;
    padding: 0 20px 0 20px;
    color: #b8b8b8;
    position: relative;
    font-family: sans-serif;
    font-weight: lighter;
    margin: 0;
}
