{% extends "__base.html" %}
{% load static %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/Google-Style-Login.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/Login-Form-Clean.css' %}">
{% endblock %}

{% block content %}
  <div class="login-card"><img src="{% static "img/avatar_2x.png" %}" class="profile-img-card">
    <p class="profile-name-card"> </p>

    {% if form.errors %}
      <p>Your email or password didn't match. Please try again.</p>
    {% endif %}

    <!-- ovde treba da proverimo da li je vec ulogovan i ako jeste treba ga redirektovati na index stranu -->
    <!-- istu stvar uraditi i na registe templateu -->
    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}



    <form class="form-signin" method="post">
      <span class="reauth-email"></span>

      {% csrf_token %}
      {{ login_form.email }}
      {{ login_form.password }}
      {{ error_msgs }}

      <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Login</button>
      <a href="#" class="forgot-password">Forgot your password?</a>

      <div id="header">
         <p>or</p>
      </div>

    </form>

    <button class="btn btn-primary btn-block btn-lg btn-signin" onclick="window.location.href='{% url 'user_registration:register_user_view' %}'">Register</button>

  </div>
{% endblock %}
