<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load staticfiles %}
  <option value="">Choose...</option>
  {% for model in models %}
  <option value="{{ model.pk }}">{{ model.name }}</option>
  {% endfor %}
</html>
