.jumbotron-custom {
  background-color:#F7F7F7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 4rem 4rem;
}

p {
    color: #212529;
    margin-bottom: 0px;
    margin-top: 2%;
}

hr {
  margin-top: 0.2rem;
}

strong {
  font-weight: bold;
}

#divPowerUnits, #divMetalic, #divFIxedPrice {
  margin-top: auto;
}

#must {
  color: red;
}

/* drag and drop photo upload */
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box.has-advanced-upload {
  background-color: #c8dadf;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.is-dragover {
  background-color: white;
}
.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}

.phone-number-div {
  display: flex;
}


.images-container {
  flex: 14;
  padding: 0.25rem;
  padding-bottom: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
  margin-bottom: 1.25rem;
}

.all-images {
  display: flex;
  padding: 0rem 0.25rem;
  transform: translate3d(-0px, 0px, 0px);
}
.all-images-container {
  overflow: hidden;
}

.main-image {
  padding: 0.25rem 0.25rem;
  background-color: #fff;
  border-radius: .25rem;
}

.basic-info-container {
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .5rem;
  height: fit-content;
  margin-left: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
}

.img-thumbnail {
  height: 100px;
  cursor: pointer;
}

.img-thumbnail-active {
  border-style: groove;
}

.img-fluid {
  border-radius: 0.5rem;
}

.car-basic-info {
  display: flex;
}

.car-basic-info div {
  padding: 0px 2px;
  font-size: x-large;
  font-weight: bold;
}

.basic-info-price {
  text-align: center;
}

hr {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

h1 {
  margin-top: 0.5rem;
  color: #00A997;
}

h4 {
  padding-left: 1rem;
  padding-top: .5rem;
  color: #ffb135;
}
td {
  padding-left: 1rem;
  padding-right: 1rem;
}
th {
  padding-left: 1rem;
}
.display-announcement p {
  color: #ffb135;
}

.main-info-container {
  padding: 0rem 4rem;
  padding-bottom: 2rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .5rem;
  height: fit-content;
  margin-bottom: 1.25rem;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.5);
}

.main-info-container p {
  background-color: #fff;
  margin-top: 2rem;
}

.form-row div {
  margin-bottom: 0.5rem;
}

.img-thumbnail-container {
    flex-shrink: 0;
}
