.btn-group-custom {
  display: flex;
}

.jumbotron-custom {
  background-color:#F7F7F7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
}

.page-navigation {
  display: flex;
  justify-content: center;
}

.page-item.active .page-link {
    background-color: #17a2b8;
    border-color: #17a2b8;
}
