<span class="navbar-text actions">
  <a class="login" href="{% url 'user_login:login_view' %}"> Log In </a>
  <a class="btn btn-light action-button" role="button" href="{% url 'user_registration:register_user_view' %}"> Sign Up </a>
</span>
