{% load static %}
<span class="navbar-text actions">
  <ul class="nav navbar-nav mr-auto">
    <li class="dropdown">
      <a class="nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><img src="{% static "img/avatar_2x.png" %}" class="profile-img"></a>
      <div class="dropdown-menu" role="menu">
        <a class="dropdown-item" role="presentation" href="#">My adds</a>
        <a class="dropdown-item" role="presentation" href="{% url 'contact_info:profile_settings' %}">Profile settings</a>
        <hr>
        <a class="dropdown-item" role="presentation" href="{% url 'user_login:logout_view' %}"><strong>Logout</strong></a>
      </div>
    </li>
  </ul>
</span>
