<div>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container"><a class="navbar-brand" href="{% url 'home_page:home' %}">Used vehicles</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Buy</a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" role="presentation" href="{% url 'home_page:home' %}">Cars</a>
              <a class="dropdown-item" role="presentation" href="#">Motorcycles</a>
              <a class="dropdown-item" role="presentation" href="#">Recreational vehicles</a>
            </div>
          </li>
          <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Sell</a>
            <div class="dropdown-menu" role="menu">
              <a class="dropdown-item" role="presentation" href="{% url 'announcement_car:announce_car' %}">Car</a>
              <a class="dropdown-item" role="presentation" href="#">Motorcycle</a>
              <a class="dropdown-item" role="presentation" href="#">Recreational vehicle</a>
            </div>
          </li>
          <li class="nav-item" role="presentation"><a class="nav-link	" href="#">Need help</a></li>
        </ul>
        {% if user.is_authenticated %}
          {% include "_navbar_logged_in.html" %}
        {% else %}
          {% include "_navbar_anonymous.html" %}
        {% endif %}
      </div>
    </div>
  </nav>
</div>
