.jumbotron-custom {
  background-color:#F7F7F7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
}

.display-results-container {
  display: flex;
}

.display-results-container .search-results-container .card {
  display: flex;
  flex-direction: row;
}

.card .image-container {
  max-width: 300px;
}

.search-results-container {
  flex-grow: 2; /* this may be changed */
}

.detailed-search-container {
  flex-grow: 1; /* this may be changed */
}

span#car-brand {
  font-weight: bold;
  font-size: 1.75rem;
}
span#car-model {
  font-weight: bold;
  font-size: 1.75rem;
}
span#car-body-type {
  font-weight: bold;
  font-size: 1.75rem;
}
span#car-price {
  font-weight: bold;
  font-size: 1.5rem;
}

.card-body .card-row {
  display: flex;
  font-size: 1.25rem;
}
.card-body .card-row .card-col-1 {
  flex-grow: 1;
}
.card-body .card-row .card-col-0 {
  flex-grow: 0;
}

.image-container img {
  padding: 1rem;
}

.search-results-container .card {
  cursor: pointer;
}
