{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'js/image_upload/dropzone-5.7.0/dist/dropzone.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/image_upload/image_upload.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome-free-5.13.0-web/css/all.css' %}">
