{% load static %}

<div id="my-dropzone">

  <div class="dropzone-message-container">
    <div class="dropzone-message">
      <button type="button" calss="dz-button">Drop files here or click to upload.</button>
    </div>
  </div>

  <div class="previews-container">
    <div class="dz-preview dz-file-preview">
      <div class="dz-image">
        <img data-dz-thumbnail/>
      </div>
      <div id="buttonsDiv" class="buttons-container">
        <button class="btn btn-primary start btn-rotate" type="button" name="button" id="rotateLeftBtn">↶</button>
        <button class="btn btn-danger delete btn-delete" type="button" name="button" id="removeImageBtn"><i class="fas fa-trash-alt"></i></button>
        <button class="btn btn-primary start btn-rotate" type="button" name="button" id="rotateRightBtn">↷</button>
      </div>
    </div>
  </div>

</div>
